/*
/*/*

!.gitignore
!*.qmd
!*.R
!README.md
!_quarto.yml

!/*.Rproj
!/.here
!/references.bib

!/00data/
!/00data/data_cleaned/
!/00data/data_raw/
!/10manuscript_src/
!/11supplement/
!/12meta/
!/98manuscript_versions/
!/99communication/
!/99communication/comm_external/
!/99communication/comm_internal/

!/R
!/output/

*.docx
*.pdf
*.html
*.css
*.odt
/.quarto/
.Rproj.user
