/*
/*/*

!.gitignore
!*.qmd
!*.R
!README.md
!_quarto.yml

!/*.Rproj
!/.here

!/00data/
!/00data/data_cleaned/
!/00data/data_raw/
!/10manuscript/
!/20supplement/
!/30meta/
!/99communication/
!/99communication/comm_external/
!/99communication/comm_internal/

!/R
!/output/

*.docx
*.pdf
*.html
*.css
*.odt
/.quarto/
.Rproj.user
