/*
/*/*

!.gitignore
!*.qmd
!*.R
!README.md
!_quarto.yml

!/*.Rproj
!/.here
!/references.bib

!/0data/
!/0data/data_cleaned/
!/0data/data_raw/
!/1analysis/
!/2manuscript_src/
!/3supplement/
!/meta/

!/R
!/output/

*.docx
*.pdf
*.html
*.css
*.odt
/.quarto/
.Rproj.user
